.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.input-field {
  width: 100%;
  height: 35px;
  border: solid 2px #f9b487;
  border-radius: 12px;
  padding: 8px;
}

select {
  border: 2px solid #f9b487;
  background: #FFF1CB;
  padding: 10px;
  font-size: 12px;
  border-radius: 8px;
}
select option {
  background-color: #FFF1CB;
  color: #333333;
  padding: 8px;
  &:hover {
	background-color: #fae4a8;
  }
}

button {
	background-color: #FDE7B3;
	border : solid 2px #FFE797;
	border-radius: 8px;
	padding : 4px 12px;
}
