.chatbot-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  height: 100vh;
  display: flex;
  flex-direction: column;
}

.welcome-text {
  color: gray;
  margin-top: auto;
  margin-bottom: 0px;
}

.spinner {
  margin: -15px;
  height: 40px;
}
